{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>{{ user.point }} Pt</h2>
    <hr>

    <h3>Actions</h3>
    <p class='link_p'><a href="{% url 'action_create' %}">Create Action</a></p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
                <tr onclick="window.location='{% url 'action_detail' action.id %}'" style="cursor: pointer;">
                    <td>{{ action.name }}</td>
                    <td>{{ action.point }} Pt</td>
                    <td>
                        <a href="{% url 'action_record' action.id %}">Record</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">---</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <hr>

    <h3>Rewards</h3>
    <p class='link_p'><a href="{% url 'reward_create' %}">Create Reward</a></p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for reward in rewards %}
                <tr onclick="window.location='{% url 'reward_detail' reward.id %}'" style="cursor: pointer;">
                    <td>{{ reward.name }}</td>
                    <td>{{ reward.point }} Pt</td>
                    <td>
                        <a href="{% url 'reward_confirm' reward.id %}">Exchange</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">---</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

{% endblock content %}