{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="auth-container">
    <h2>ご褒美新規登録</h2>
    <form method="POST" class="auth-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="auth-button">登録</button>
        <div class='space'></div>
        <a href="{% url 'mypage' %}" class="auth-button cancel">キャンセル</a>
    </form>
</div>
{% endblock %}