{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>アクション詳細</h2>
    <p>アクション名: {{ action.name }}</p>
    <p>獲得ポイント: {{ action.point }} Pt</p>

    <p class='link_p'>
        <a href="{% url 'action_record' action.id %}">記録</a> /
        <a href="{% url 'action_update' action.id %}">編集</a> / 
        <a id='delete_a' href="{% url 'action_delete' action.id %}">削除</a>
    </p>

    <hr>
    <h3>Accumulated Action Counts</h3>
    <canvas id="myChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const labels = {{ labels_json|safe }};
        const dataPoints = {{ data_json|safe }};

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Records',
                    data: dataPoints,
                    borderColor: 'rgba(75, 192, 192, 1)',  // 透明度を0.5に設定
                    borderWidth: 1,
                    fill: false,
                    tension: 0
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'date'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Accumulated Records Count'
                        }
                    }
                },
                plugins: {
                    legend: { 
                        display: false  
                    },
                    title: {  
                        display: false  
                    }
                }
            }
        });
    </script>

    <p><a href="{% url 'mypage' %}">マイページに戻る</a></p>
{% endblock %}