<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>My Bravo!!</title>
    </head>
    <body>
        <header>
            <h1>waaaa</h1>
        </header>
        <main>
            {% block content %}

            {% endblock content %}
        </main>
        <script>
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            {% endif %}
        </script>
    </body>
</html>